#footer {
    padding: 20px 50px;
    display: flex;
    gap: 100px;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--color-primary);
}

.footer-title h1{
    font-family: 'Gowun Batang', serif;
    font-size: 5rem;
}

.footer-social {
    display: flex;
    gap: 30px;
}

.footer-social .icon {
    font-size: 35px;
    cursor: pointer;
}

.footer-social .icon:hover {
    transform: scale(1.1)
}

@media screen and (max-width : 1150px) {
    .footer-title h1{
        font-size: 2rem;
    }

    .footer-social .icon {
        font-size: 25px;
    }
}