.map-conatiner {
    position: relative;
    padding: 100px 50px;
    width: 100%;
}

.map-title {
    width: 50%;
    margin: 0 auto 50px;
}

.map-title h1 {
    text-align: center;
}

.map-main {
    display: flex;
    justify-content: space-evenly;
}

.map-image {
    width: 800px;
    min-height: 100vh;
}